# Ignore everything
/*

# But not these files...
!.gitignore
!zshrc
!vimrc
!xbindkeysrc
!/polybar/
!/kitty/
!/awesome/
!README.md
!essentials
!stalonetrayrc
!picom.conf

#polybar zscroll fix
/polybar/zscroll/

#awesome themes fix
/awesome/themes/
