# Ignore everything
/*

# But not these files...
!.gitignore
!zshrc
!vimrc
!xbindkeysrc
!/polybar/
!/kitty/
!/awesome/
!README.md
!essentials
!picom.conf
!asoundrc
!/i3/
!/rofi/

#polybar zscroll fix
/polybar/zscroll/

#awesome themes fix
/awesome/themes/
